@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

#presentation{
    margin-top: 20px;
    padding: 0px 40px;
    text-align: center;
    .presentation__texte h2{
        font-size: 30px;
        color: white;
        font-weight: 400;
        margin: 0;
        margin-top: 10px;
    }
    .presentation__texte__hook{
        color: white;
        margin: 20px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
    }
    & p{
        margin: 20px 0;
        color: white;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
    }
    .button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &__first{
            text-decoration: none;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 600;
            color: $color-primary;
            background-color: $color-secondary;
        }
        &__second{
            text-decoration: none;
            border-radius: 10px;
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 700;
            color: $color-secondary;
            background-color: $color-primary;
        }
    }
}

.presentation__image{
    display: none;
}

@media (min-width: 500px) {
    #presentation{
        padding: 0px 80px;
        text-align: center;
        .presentation__texte h2{
            font-size: 50px;
        }
        .presentation__texte__hook{
            font-size: 26px;
            line-height: 32px;
        }
        & p{
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (min-width: 650px) {
    #presentation .button{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        .button__first{
            font-size: 22px;
            margin-right: 30px;
        }
        .button__second{
            font-size: 22px;
        }
    }
}

@media (min-width: 1024px) {
    #presentation{
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;
        .presentation__texte{
            width: 65%;
            h2{
                font-size: 64px;
            }
            .presentation__texte__hook{
                font-size: 30px;
                line-height: 40px;
            }
            p{
                font-size: 22px;
                line-height: 32px;
                margin: 30px 0;
            }
        }
        .button{
            justify-content: flex-start;
            .button__first, .button__second{
                font-size: 25px;
            }
        }
        .presentation__image{
            margin-left: 30px;
            display: flex;
            width: 35%;
            height: 500px;
            img{
                width: 90%;
            }
        }
    }
}
