@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

#portfolio {
    margin-top: 80px;
    .portfolio__list {
        background-color: $color-primary;
        border-radius: 15px;
        padding: 20px 10px;
        h3{
            text-align: center;
            color: $color-secondary;
            font-size: 30px;
            font-weight: 700;
        }
    }
    .portfolio__list__projet{
        border-radius: 15px;
        margin-top: 10px;
        .projet {
            margin-bottom: 50px;
        }
        .projet__img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
        .projet__description {
            width: 100%;
            background-color: $color-secondary;
            border-radius: 15px;
            padding: 20px 10px;
            h4 {
                margin: 0;
                color: white;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
            }
            ul {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0;
                padding: 0;
                li {
                    color: $color-secondary;
                    background-color: $color-primary;
                    list-style: none;
                    border-radius: 8px;
                    padding: 8px 12px;
                    margin-top: 10px;
                    margin-right: 15px;
                    font-weight: 700;
                }
            }
            h5 {
                text-align: center;
                margin: 20px 0;
                color: white;
                font-size: 25px;
                font-weight: 600;
                line-height: 30px;
            }
            p {
                text-align: center;
                margin: 15px 0;
                color: white;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
            }
            button {
                display: block;     
                margin: 0 auto; 
                color: $color-secondary;
                background-color: $color-primary;
                text-decoration: none;
                border-radius: 10px;
                padding: 8px 12px;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
    }
}

@media (min-width: 768px) {
    #portfolio .portfolio__list{
        padding: 20px 40px;
    }
}



@media (min-width: 1024px) {
    #portfolio .portfolio__list h3{
        font-size: 35px;
    }
    #portfolio .projet{
        display: flex;
        .projet__img{
            width: 60%;
        }
        .projet__description{
            width: 40%;
            padding: 30px 20px;
            h5, p{
                margin: 10px 0px;
            }
            button{
                margin-bottom: 10px;
            }
        }
    }

    #portfolio .projet__reverse{
        display: flex;
        flex-direction: row-reverse;
        .projet__img{
            width: 60%;
        }
        .projet__description{
            width: 40%;
            padding: 30px 20px;
            h5, p{
                margin: 25px 0px;
            }
            button{
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 1079px) {
    #portfolio .projet .projet__description h5, #portfolio .projet__reverse .projet__description h5 {
        margin: 30px 0px;
    }
    #portfolio .projet .projet__description button, #portfolio .projet__reverse .projet__description button {
        margin-top: 30px;
    }
}

@media (min-width: 1300px) {
    #portfolio .projet .projet__description, #portfolio .projet__reverse .projet__description {
        padding: 40px;
        h4{
            font-size: 40px;
        }
        ul{
            margin: 10px 0;
        }
        h5{
            font-size: 32px;
            line-height: 40px;
        }
        p{
            font-size: 22px;
            line-height: 30px;
        }
        button{
            font-size: 25px;
            padding: 10px 15px;
            margin-top: 50px;
        }
    }
}
